* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(221, 230, 238);
}

.erro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 85, 103);
    color: white;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 15px;
    gap: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 117, 142);
    color: rgb(255, 255, 255);
    width: 30%;
    height: 70%;
    border-radius: 20px;
    font-size: 18px;
}

.container > h1 {
    margin-bottom: 20px;
}

.container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > form > label {
    width: 300px;
}

.container > form > label > input{
    width: 100%;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.container > form > button {
    padding: 5px;
    width: 80px;
    border: 0;
    border-radius: 20px;
}

.container > form > button:hover{
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}